In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/jgarciaporras/Shopify-2022/main/2019%20Winter%20Data%20Science%20Intern%20Challenge%20Data%20Set.csv'

In [3]:
data = pd.read_csv(url)

In [4]:
data

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11
...,...,...,...,...,...,...,...
4995,4996,73,993,330,2,debit,2017-03-30 13:47:17
4996,4997,48,789,234,2,cash,2017-03-16 20:36:16
4997,4998,56,867,351,3,cash,2017-03-19 5:42:42
4998,4999,60,825,354,2,credit_card,2017-03-16 14:51:18
4999,5000,44,734,288,2,debit,2017-03-18 15:48:18

In [8]:
sum_order_amount= data['order_amount'].sum()

In [9]:
sum_total_items = data['total_items'].sum()

In [10]:
aov = sum_order_amount /sum_total_items
aov

In [13]:
print('The correct AOV is $', round(aov,3))

The correct AOV is $ 357.922